# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
*.env
*.egg-info/
*.egg
pip-log.txt

# Virtual environment folders
env/
venv/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Data files
*.csv
*.parquet
*.xlsx
*.xls
*.db
*.sqlite
*.sqlite3
*.log

# Streamlit
.streamlit/**

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# JetBrains (PyCharm)
.idea/

# Node (if ever used)
node_modules/

# Build outputs
build/
dist/
